@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to docker website </h1>
    <p>Learn about <a href="https://www.google.com/">building Web apps with ASP.NET Core</a>.</p>
</div>
